.login {
    font-size: 13px;
    font-weight: 300;
}

.login ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.login ul li {
    margin-right: 10px;
}

.login ul li a {
    margin-left: 100px; 
    color: #ff9948;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: white; 
    border-radius: 1px;
    border: 1px solid #ccc;
    margin-right: 8px;
    margin-left: 5px;
    /* vertical-align: middle; */
    vertical-align: top;
}

input[type="checkbox"]:checked + label:before {
    content: "✓";
    color: white;
    text-align: center;
    background-color: #ff9948;
    font-size: smaller;
}

.remember {
    font-weight: 300;
    color: #5B5B5B;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #ff9948;
}

input::placeholder {
    color: #999;
}

.button {
    background-color: #ff9948;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    background-image: url('/assets/images/login-small-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-weight: lighter;
}
