<app-header></app-header>
<div class="container">
    <div class="product-info">
        <h2>Product Information</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
        <p>Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc.</p>
    </div>
    <app-bidlist class="bid-list"></app-bidlist>
</div>
